.resource-buttons-header {
    padding: 5px;
}

.resource-buttons {
    padding: 5px;
}

.hidden {
    display: none;
}

.add-resource-form-wrapper {
    padding: 5px 10px;
}

.add-fhir-resource-form > input, .add-fhir-resource-form > button {
    display: block;
    margin: 10px 0;
}

.success {
    padding: 5px 10px;
    color: green;
}

.failure {
    padding: 5px 10px;
    color: red;
}

.checkbox-input > label, .input-group-element > label {
    font-weight: bold;
    margin-right: 10px;
}

.input-group-element, select {
    margin-bottom: 10px;
}

.resource-buttons > button {
    margin-right: 5px;
}

select {
    display: block;
}